@import url('https://fonts.googleapis.com/css2?family=Inter+Tight:wght@600&family=Merriweather:wght@400;700;900&family=Open+Sans:ital,wght@0,700;0,800;1,700&display=swap');
body {
    /* font-family: 'Merriweather', serif;
font-family: 'Open Sans', sans-serif; */
font-family: 'Inter Tight', sans-serif;
font-family: 'Merriweather', serif;
font-family: 'Open Sans', sans-serif;

}

.new-year-title {
    color: #FFF;
    text-align: center;
    font-size: 32px;
    font-weight: 400;
    padding-top: 177px;
}

.new-year-heading {
    color: #FFF;

    text-align: center;
    font-size: 72px;
    font-weight: 900;
    line-height: 95px;
    /* 131.944% */
    /* padding-top: 233px; */
}

.new-year {
    margin-top: 50px;
    background-image: url('./images/Banner\ Image.png');
    background-repeat: no-repeat;
    width: 1320px;
    height: 600px;
    border-radius: 16px;
    margin-bottom: 120px;
}

section {
    margin-left: 100px;
    margin-right: 140px;
    margin-bottom: 120px;
}

.sell {
    color: #F00;
    text-align: center;
    font-size: 88px;
    font-weight: 700;
    margin-bottom: 120px;
}

.sell-description {
    color: #F00;
    text-align: center;
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 16px;
}

#another-description {
    color: #070211;
    text-align: center;
    font-size: 48px;
    font-weight: 700;
    margin-bottom: 40px;
}

.new-year-photo {
    width: 802.9px;
    height: 500px;
}

.party-heading {
    padding-top: 50px;
    padding-left: 130px;
    padding-right: 200px;
    color: #FFF;
    font-size: 50px;
    font-weight: 900;
    line-height: 80px;
    letter-spacing: 7.04px;

}

.primary-description {
    color: rgba(255, 255, 255, 0.80);
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    padding-left: 130px;
}

.party {
    display: flex;
    background-image: url('./images/Vectorrr.png');

    background-repeat: no-repeat;
    justify-content: space-between;
    width: 1320px;
    height: 600px;
    border-radius: 16px;
    margin-bottom: 120px;
    /* width: 1320px;
height: 600px; */
}

.party-img {
    padding-top: 70px;
    padding-right: 140px;
    width: 319.83px;
    height: 464.662px;
}

.button {
    background-color: #FD6E0A;
    color: white;
    border: 0;
    border-radius: 5px;
    font-size: 20px;
    font-weight: 700;
    padding: 16px 20px;
    margin-left: 180px;
    margin-top: 50px;

}

section>ul>li {
    list-style: none;
}

.programe{

display: flex;
justify-content: space-between;
}
#p-des{
    width: 500px;
}
#programe-id{
    margin-left: 120px;
}
.circle{
    margin-left: 0px;
    padding-left: 0;
}
.circle-img{
  
width: 260px;
height: 260px;
padding: 30px;
border-radius: 463px; 
border: 15px solid #F00;
}
.circle-img:hover{
    background-color: blue;
}

.address {
    width: 1320px;
    height: 482px;
    background-color: #dccccceb;
    text-align: center;
    border-radius: 16px;
    padding-top: 400px;
    font-size: 32px;
}

.description>span {
    color: red;
}

.address>button {
  margin-left: 600px;
    display: inline-flex;
    padding: 16px 32px;
    justify-content: center;
    gap: 10px;
    border-radius: 8px;
    background: #F00;
    border: 0;
}

.shopping-description {
    text-align: left;
}

#s-title {
    color: #F00;
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 16px;
}

.shopping-description>h2 {
    color: #070211;
    font-size: 48px;
    font-weight: 900;
    line-height: normal;
    text-transform: capitalize;
    margin-bottom: 22px;
}

.same-description {
    width: 896px;
    color: rgba(7, 2, 17, 0.60);
    font-size: 20px;
    font-weight: 400;
    line-height: 32px;
    margin-bottom: 45px;
    /* 160% */
}

/* to take the image in one line  */
.row2,
.row3 {
    display: flex;
}

.colum {
    padding-top: 50px;
    flex: 33.33%;
    padding-right: 24px;
    padding-bottom: 24px;
    border-radius: 16px;

}

.colum2 {
    flex: 33.33%;
    padding-right: 24px;
    padding-bottom: 24px;
    border-radius: 16px;

}


/* subscribe section */
.subscribe {
    width: 1320px;
    height: 616px;
    border-radius: 16px;
    background: rgba(255, 0, 0, 0.05);
}

.email-pic {
    padding-left: 45%;
    margin-top: 80px;
    width: 150px;
    height: 150px;
    margin-bottom: 40px;
}

.sub-content{
    text-align: center;
}
.sub-content >h2{
    color: #070211;
text-align: center;
font-size: 48px;
font-weight: 900;
text-transform: capitalize;
}
.sub-content>p{
    padding-left: 180px;
     text-align: center;
}

.email{
    width: 428px;
    height: 50px;
    border-radius: 50px 0px 0px 50px;
background: #FFF;
margin-left: 300px;

}
.sub-button{
    width: 210px;
height: 55px;
border-radius: 0px 50px 50px 0px;
background: #F00;
}
.sub-button:hover{
    background-color: aqua;
}
button:hover{
    background-color: green;
}
input,button{
    float: left;
    align-items: center;
    margin-bottom: 80px;
}

/* footer style  */
footer{
    width: 100%;
    background: #070211;
width: 1600px;
height: 609px;
}
.footer{
    padding: 100px 50px 50px 100px;
    display: flex;
    justify-content: space-between;
   
}
.footer-heading{
    padding-right: 100px;
}
.footer-description{
    display: inline;
    color: #FFF;
font-size: 24px;
font-weight: 500;
line-height: 40px; 
padding-right: 100px;
}
.icon{
    height: 24px;
    width: 24px;
    padding-right: 5px;
}
hr{ color: #ffffff38;
    width: 1350px;
    background: rgba(255, 255, 255, 0.15);
}
.social-media{
    display: flex;
    padding-left: 40% ;
    margin-bottom: 50px;
}
.social-pic{
    padding-top: 50px;
    padding-right: 13px;
    width: 64px;
height: 64px;
}
.footer2{
    padding: 120px 80px 20px 100px;
    display: flex;
    justify-content: space-between;
}
